<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="POST">
      <input type="text" name="username" value="" placeholder="Username">
      <input type="password" name="password" value="" placeholder="Password">
      <input type="email" name="e-mail" value="" placeholder="E-mail">
      <input type="text" name="name" value="" placeholder="Full Name">
      <input type="submit" name="Submit" value="Submit">
    </form>
  </body>
</html>
